<div>
    <mat-card>
        <mat-card-title>
            Agende seu post
        </mat-card-title>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Escolha a data do agendamento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Mensagem do post">
                </mat-form-field>
            </div>
            <div>
                    <label for="singleFile">Upload file</label>
                    <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
                    <br>
                     
                    <mat-file-upload-queue #fileUploadQueue
                        [fileAlias]="'file'"
                        [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
                        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                    </mat-file-upload-queue>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <div class>
                <button mat-fab color="primary">Salvar</button>
            </div>
        </mat-card-footer>
    </mat-card>
</div>